*$py.class
*.egg-info/
*.py[cod]
*.py[oc]
*.pyc
*.pyo
*.so
*.swo
*.swp
*~
.DS_Store
.DS_Store?
.Python
.Spotlight-V100
.Trashes
._*
.coverage
.env
.env.local
.idea/
.mypy_cache/
.pylint.d/
.pytest_cache/
.ruff_cache/
.uv/
.venv/
.vscode/
ENV/
Thumbs.db
__pycache__/
build/
dist/
env/
htmlcov/
uv.lock
venv/
